@model List<ItemPlan>

<partial name="_Timeline" />

@foreach (var item in Model.Select(p => p.PlannableItem).Distinct())
{
    @*<div class="row" style="margin: 10px 5px 10px 5px;">
        <partial name="_Milestones" model="new Tuple<List<ItemPlan>, IPlannableItem>(Model, item)" />
    </div>*@

    <div class="row" style="margin: 10px 5px 10px 5px; height: @(Model.First(p => p.PlannableItem == item).ViewChannelCount() * 20)px">
        <div class="col-md-1" style="height: 100%; padding: 0px 5px 0px 5px;">
            <div style="background: @item.Colour; height: 100%; text-align:center; overflow:hidden;">
                @item.Name
            </div>
        </div>

        <div class="col-md-11" style="padding: 0px; height: 100%">

            <div>
                <partial name="_Milestones" model="new Tuple<List<ItemPlan>, IPlannableItem>(Model, item)" />
            </div>
            @*@(ItemPlan itemPlan = Model.FirstOrDefault(p => p.PlannableItem == item))*@

            <div style="position: relative; z-index: -1">
                @foreach (var channel in Model.FirstOrDefault(p => p.PlannableItem == item).Channels)
                {
                    @foreach (var personProject in channel.PersonProjects)
                    {
                        <div style="overflow: hidden; display: block; position:absolute; height:20px; width: @(personProject.CalcWidth()); left: @(personProject.CalcLeftOffset()); top: @(channel.ChannelNumber * 20)px; background: @(personProject.GetOther(item).Colour)">
                            @personProject.GetOther(item).Name
                        </div>
                    }
                }
            </div>

            @foreach (var d in Enumerable.Range(0, (int)(Model.SelectMany(m => m.Channels.SelectMany(c => c.PersonProjects)).MaxOrDefault(p => p.End, DateTime.Today.AddDays(14)) - DateTime.Today).TotalDays))
            {
                if (DateTime.Now.Date.AddDays(d).IsWeekend())
                {
                    <div style="opacity: 0.5; display: block; position:absolute; height: 100%; width: 50px; left: @(d * 50)px; top: 0px; background: @((DateTime.Now.Date.AddDays(d).IsWeekend()) ? "darkgrey" : "lightgrey")">
                    </div>
                    <div style="opacity: 0.5; display: block; position:absolute; height: 10px; width: 50px; left: @(d * 50)px; top: -10px; background: @((DateTime.Now.Date.AddDays(d).IsWeekend()) ? "darkgrey" : "lightgrey")">
                    </div>
                }
            }

        </div>
    </div>
    }
